* { box-sizing: border-box; } /* Mantiene los anchos independientemente del padding */	

body {padding: 30px 0;
margin:20px;}

h1 {font-size:40px;
	font-weight: bold;
 	color: #5FDAAF}

nav {
	float:center;
	margin-top: 10px;
	align-items: center;
	color:text-center;
}

p {
	float:center;
	margin-top: 10px;
}

.parrafo2{font-size: 20px;
	color:#9A9A9A;}



#special{font-size:30px;
color:#000000;}

.btn {border-radius:25px;
display:center;}

.container {margin-bottom: 100px}

